@use "variables/colors";

html {
  background-color: colors.$background-secondary;
  display: flex;
  justify-content: center;
}

body {
  background-color: colors.$background-primary;
  font-size: 0.75rem;
  max-width: 849px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 0.0625rem;
}
