@use "src/sass/variables/colors";

[class*="cell"] {
  width: 0.9375rem;
  background-color: colors.$color-alive-primary;
  color: colors.$color-alive-primary;
}

.grid__cell-status-false {
  color: colors.$color-dead;
  background-color: colors.$color-dead;
}
